name: Test

on:
  push:
    branches-ignore:
      - automated/*
      - renovate/*
    paths-ignore:
      - .editorconfig
      - .gitignore
      - .markdownlint.yaml
      - .trunk/**
      - LICENSE
      - README.md
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  test:
    name: Test

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build snap
        id: snapcraft
        uses: snapcore/action-build@v1

      - name: Install snap
        run: sudo snap install --dangerous --classic ${{ steps.snapcraft.outputs.snap }}

      - name: Check snap
        run: snap info --verbose freelens
